//- Шаблон плагина
link(type="text/css" rel="stylesheet" href="/assets/plugins/emoji/css/plugin.min.css?v=" + hash_css)
div#tabGeneralEmoji
	hr
	.container-full
		div.clearfix(data-plugin="emoji")
script(src="/assets/plugins/emoji/js/plugin.min.js?v=" + hash_js)
script(type="text/javascript")
	include javascript.min.js
